body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

canvas {
  background-color: slategray;
  border: 2px solid white;
  align-self: center;
}

/* #score { */
/* color: white; */
/* margin: 10px 10px; */
/* } */

/* #player { */
/* background-color: #663399; */
/* height: 35px; */
/* width: 35px; */
/* align-self: flex-end; */
/* margin: 0 0 0 5px; */
/* } */
