body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

#app {
  height: 400px;
  width: 600px;
  background-color: slategrey;
  margin: 0 auto;
  display: flex;
}

#score {
  color: white;
  margin: 10px 10px;
}

#player {
  background-color: rebeccapurple;
  height: 35px;
  width: 35px;
  align-self: flex-end;
  margin: 0 0 0 5px;
}
